* {
  margin: 0;
  padding: 0;
  touch-action: pan-x pan-y;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  width: 100%;
}

body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}
